[run]
source = .

[report]
exclude_lines =
    pragma: no cover

        def __str__

omit =
    */migrations/*
    */python?.?/*
    */site-packages/nose/*
    *__init__*
    */tests.py
    */admin.py

show_missing = True
